<span>Showing stretching animation and polygon click subscription</span>
<div>
  <span>length: {{ distanceInputs.x | number: "1.0-2" }}, </span>
  <span>width: {{ distanceInputs.y | number: "1.0-2" }}, </span>
  <span>thickness: {{ distanceInputs.z | number: "1.0-2" }}</span>
</div>
<div>
  <br />
  <label>
    Animations
    <select [(ngModel)]="selectedTween">
      <option *ngFor="let s of tweens" [ngValue]="s">
        {{ s }}
      </option>
    </select>
  </label>
  <button (click)="beginAnimation()">Begin</button>
</div>
<div>clicked: {{ distanceInputs.axis }}</div>
<label for="xvalue">length: </label>
<input
  type="text"
  name="xvalue"
  id="xvalue"
  size="5"
  placeholder="x value"
  (focus)="saveValue($event)"
  (blur)="processChange($event, 'x')"
  [ngModel]="distanceInputs.x | number: '1.0-2'"
/>
<label for="yvalue">width: </label>
<input
  type="text"
  name="yvalue"
  id="yvalue"
  size="5"
  placeholder="y value"
  (focus)="saveValue($event)"
  (blur)="processChange($event, 'y')"
  [ngModel]="distanceInputs.y | number: '1.0-2'"
/>
<label for="zvalue">thickness: </label>
<input
  type="text"
  name="zvalue"
  id="zvalue"
  size="5"
  placeholder="z value"
  (focus)="saveValue($event)"
  (blur)="processChange($event, 'z')"
  [ngModel]="distanceInputs.z | number: '1.0-2'"
/>

<div #svgParent class="svgParentElement"></div>
